// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
  background: rgb(243, 243, 243);
  font-family: 'Montserrat', sans-serif;
 
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.visitante {
  &__form {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
}

.container-form {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}



// success page 
.success {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  &__qr {
    margin: 0 auto;
    text-align: center;
    padding: .5rem;
    margin: 2rem 0 0 0;
  }
  &__span {
    font-size: 9px;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__thank {
    padding-top: 3rem;
    font-size: 15px;
    font-weight: 700;
  }
  &__data {
    list-style: none;
    padding-left: 0;
  }
}